
    <header>
      <div id="header" role="banner">
        <div class="main_width">
          <div id="head_logo"><p><a href="{{ "/" | relURL }}"><img src="/media/images/common/head_logo.png" width="80" height="58" alt="{{ .Site.Title }}"></a></p></div>
          <div id="gnavi" role="navigation">
            <ul>
              <li><a href="#mission" title="ミッション">ミッション</a></li>
              <li><a href="#policy" title="ポリシー">ポリシー</a></li>
              <li><a href="#news" title="ニュースリリース">ニュースリリース</a></li>
              <li><a href="#career" title="採用情報">採用情報</a></li>
              <li><a href="#company" title="会社概要">会社概要</a></li>
            </ul>
          </div><!-- gnavi -->
          <div id="sp_menu_btn" class="sp_menu_trigger sp_menu_btn">
            <div class="sp-btn-cont">
              <span class="border01"></span>
              <span class="border02"></span>
              <span class="border03"></span>
            </div>
          </div>
        </div>
      </div><!-- header -->
    </header>
