
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ with .Page.Title }}{{ . }} - {{ end }}{{ .Site.Title }}</title>
  <base href="{{ .Site.BaseURL }}">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=0">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content=""/>
  <meta property="og:title" content=""/>
  <link rel="shortcut icon" href="{{ "favicon2018.ico" | absURL }}">
  <link rel="stylesheet" href="{{ "css/common.css" | absURL }}">
  <link rel="stylesheet" href="{{ "css/home.css" | absURL }}">
  <link rel="stylesheet" href="{{ "css/lower.css" | absURL }}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
