@charset "utf-8";
/*                下層共通
======================================================= */
/*                bread
======================================================= */
#bread {
  float: left;
}
@media only screen and (max-width: 768px) {
  #bread {
    display: none;
  }
}
#bread ol {
  overflow: hidden;
}
#bread ol li {
  display: inline-block;
  float: left;
  font-family: FontAwesome, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Arial, sans-serif;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 78.6%;
}
#bread ol li:before {
  content: "\f105";
  margin: 0 1em;
}
#bread ol li:first-child:before {
  content: "";
  margin: 0;
}

/*                レイアウト
======================================================= */
#main_area .main_contents {
  padding: 3.5em 0;
}

/*                記事系
======================================================= */
.entry_date {
  margin-top: -0.75em;
  margin-bottom: 2.0em;
  text-align: right;
}
.entry_date time {
  font-size: 100%;
}

.entry_content + .entry_content {
  margin-top: 1em;
}
.entry_content p {
  font-size: 114.3%;
}
.entry_content p + p {
  margin-top: 1em;
}
.entry_content img {
  max-width: 100%;
  margin: auto;
}
.entry_content.files_list ul li a {
  position: relative;
}
.entry_content.files_list ul li a:before {
  font-family: "Font Awesome 5 Free";
  content: "\f15b";
  margin-right: 0.25em;
  font-weight: 400;
}
.entry_content.files_list ul li + li {
  margin-top: 0.5em;
}

/*                お問い合わせ
======================================================= */
